<template name="home">
  <div class="home">
   <div class="container text-center">
    <div class="wrapper">
      <h1 class="title">Bienvenue dans le hub des savoirs</h1>
      <p class="sub-header">Un espace collaboratif propulsé par l’ÉTS MTL visant le partage et l'enrichissement des connaissances.</p>

      <div class="accounts-error">
        <div class='alert alert-danger'>Error</div>
      </div>

      <div class="login-form">
        <form class="login-form">
          <input type="text" id="email" class="form-control" placeholder="Courriel" />
          <input type="password" id="password" class="form-control" placeholder="Mot de passe" />
          <div class="forgot">
            <a href="/forgot-pwd" id="at-fpwd" class="">Vous avez oublié votre <br>mot de passe?</a>
          </div>
          <input type="submit" class="submit" />
        </form>
      </div>
    </div>
  </div>
</div>
</template>