<template name="videosList">
  <div class="videos">
    <div class="clear-fix"></div>
    <div class="content">
      <div class="container">
        <div class="row filter">
          <div class="col select-tabs">
            <ul class="nav nav-tabs" role="tablist">
              <li class="active"><a href="#">Toutes les conférences</a></li>
              <li><a href="#">Mes conférences</a></li>
            </ul>
          </div>
            <div class="col">
              <input type="text" class="search-form" placeholder="Rechercher">
            </div>
            <div class="col more-filters">
              <button class="btn btn-default" type="button">Filtres</button>
            </div>
        </div>
        <div class="row">
          <div class="col-md-16 col-sm-16 person-box">
            {{#each videos}}
              {{> videoItem}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="videoItem">
  <div class="col-lg-6 col-lg-push-1 col-md-8 col-sm-8 person-profile">
    <a href="#">
      <div class="row">
        <div class="video-box rollover"></div>
        <div class="video-box person">
          <h2>Techniques de sollicitation</h2>
          <h4>Par André Bisson</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-16 col-sm-16 social-icons">
          <ul class="stats">
            <li>
              <div class="stars">
                <span><strong>12</strong> Evaluations</span><br/>
                <img src="/img/star.png" alt="" />
                <img src="/img/star.png" alt="" />
                <img src="/img/star.png" alt="" />
                <img src="/img/star.png" alt="" />
                <img src="/img/blank-star.png" alt="" />
              </div>
            </li>
            <li>
              <div class="comments">
                <span>Commentaires</span><br/>
                <img src="/img/comments.png" alt="" class="icon" />  <strong>{{commentsAmount}}</strong>
              </div>
            </li>
            <li>
              <div class="edu">
                <span>Etudiants</span><br/>
                <img src="/img/cap-icon.png" alt="" class="icon" /> <strong>29</strong>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </a>
  </div>
</template>