<template name="videosList">
  <div class="videos">
    <div class="clear-fix"></div>
    <div class="content">
      <div class="container">
        <div class="row filter">
          <div class="col-md-6 col heading">
            <div class="col-md-8 col-sm-8 checked col">
              <h4>Toutes les conférences </h4>
            </div>
            <div class="col-md-8 col-sm-8 col">
              <h4>Mes conférences</h4>
            </div>
          </div>
          <div class="col-md-10 col">
            <div class="col-md-5 col-sm-5 col">
              <div class="dropdown m-l">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                  Tous les conférenciers
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-5 col-sm-5 col">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                  Toutes les catégories
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col">
              <input type="text" class="search-form" placeholder="Rechercher">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-16 col-sm-16 person-box">
            {{#each videos}}
            {{> videoItem}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="videoItem">
  <div class="col-lg-6 col-lg-push-1 col-md-8 col-sm-8 person-profile">
    <div class="row">
      <div class="person">
        <h2>Andre Bisson</h2>
        <h4>{{title}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-16 col-sm-16 social-icons">
        <ul class="stats">
          <li>
            <div class="stars">
              <span><strong>12</strong> Evaluations</span><br/>
              <img src="/img/star.png" alt="" />
              <img src="/img/star.png" alt="" />
              <img src="/img/star.png" alt="" />
              <img src="/img/star.png" alt="" />
              <img src="/img/blank-star.png" alt="" />
            </div>
          </li>
          <li>
            <div class="comments">
              <span>Commentaires</span><br/>
              <img src="/img/comments.png" alt="" />  <strong>12</strong>
            </div>
          </li>
          <li>
            <div class="edu">
              <span>Etudiants</span><br/>
              <img src="/img/cap-icon.png" alt="" /> <strong>29</strong>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>