<template name="videoModal">
  <div class="modal fade" id="video-box" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="video-box">
    <div class="modal-dialog modal-lg">
      <div class="navigation">
        <h1>
          <span class='flaticon-previous11 previous-chapter'></span>
          <span class='text'>{{chapterTitle}}</span>
          <span class='flaticon-previous11 next-chapter'></span>
        </h1>
      </div>
      <div class="modal-content">
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
          
              <div class="player"></div>
              
              {{> comments}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>