<template name="videoModal">
  <div class="modal fade" id="video-box" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="video-box">
    <div class="modal-dialog modal-lg">

      <div class="navigation">
          <div class='text'><div class="label"><div class="chapter">{{chapterIndex}}</div><div class="title">{{chapterTitle}}</div></div></div>
          <div class='flaticon-arrow395 previous-chapter'></div>
          <div class='flaticon-arrow395 next-chapter'></div>
      </div>

      <div class="modal-content">
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">

              <div class="player"></div>

              <!--<div class="index">
                <p></p>
              </div>-->

              <div class="exit">
                <p>x</p>
              </div>

              <div class="controls">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                  <!--   <div class="controller"><div class="controller-dot"></div></div> -->
                  </div>

                  <div class="cursor-overlay"></div>

                  <div class="cues">
                    {{> commentCues}}
                    {{> chapterCues}}
                  </div>
                </div>
              </div>

              <div class="current-time"></div>

              <div class="comments">{{> comments}}</div>

              <div class="comment-popup">
                <span class="flaticon-cross1"></span>
              </div>

              <div class="comments-bar">
                <div class="row post-comment">
                <!--<div class="play-pause">
                    <span class="flaticon-play36 play"></span>
                    <span class="flaticon-play36 pause"></span>
                  </div> -->
                  <div class="poster-image">
                    <img src="/img/con-1.jpg" class="img-responsive" alt="" />
                  </div>
                  <div class="input">
                    <form class="comment-form">
                      <input class="submit" type="submit" />
                      <input class="form-control" name="body" type="text" placeholder="Entrer un commentaire..." />
                    </form>
                  </div>
                  <div class="comments-close">x</div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>