.header{
	background: url(/img/Modele-Conference1.png) no-repeat;
	background-size: 100% auto;

	.head {
		z-index: 1;

		.logo{
			padding: 20px;
			float: left;
		}
		.dropdown{
			float:right;
			list-style: none;
			padding-top:20px;
			padding-right:20px;

			.caret {
				color: #fff;
				margin-left: 6px;
			}
		}
	}

	.icon{
		padding-left: 20px;
	}
	
	.dropdown-toggle{
		display: inline-block;

		&:hover {
			text-decoration: none;
		}

		.icon {
			height: 30px;
			width: 30px;
			padding: 0;
			margin-left: 20px;
		}
	}
	img{
		&:hover{
			opacity:0.9;
		}
	}
}