.videos{
	.content{
		background-color: #fff;
		padding-top: 50px;
		padding-bottom: 60px;

		.col {
			display: inline-block;
			vertical-align: top;
		}

		.filter{
			position: absolute;
			top: 65px;
			left: 0;
			right: 0;
			margin: 0;
			height: 80px;
			width: 100%;
			background: #f2f2f2;
			border-bottom: 1px solid #dededf;
			text-align: center;

			.select-tabs{
				padding-left: 20px !important;
				text-align: center;
				margin-right: 10px;

				.nav {
					padding: 0 200px 0 10px;

					li {
						
					}

					a {
						color: #555;
						font-weight: normal;
						padding: 30px 40px;
						height: 80px;
						border-radius: 0;
						margin: 0;

						&:hover {
							background: none;
							border: 1px solid #f2f2f2;
							border-bottom: 1px solid #dededf;
							color: #428bca;
							background: rgba(255,255,255,0.5);
						}
					}

					.active a {
						font-weight: bold;
						border: none;
						font-weight: bold;
						border-left: 1px solid #dededf;
						border-right: 1px solid #dededf;
						border-radius: 0;

						&:hover {
							color: #555;
							font-weight: bold;
							border-left: 1px solid #dededf;
							border-right: 1px solid #dededf;
							border-radius: 0;
							background: #fff;
						}
					}
				}
			}

			.search-form {
				border: 1px solid #dededf !important;
				width: 400px;
				height: 50px;
				margin-bottom:0px;
				padding-left: 45px;
				background: #f8f8f8 url(/img/search.png) no-repeat 20px center;
				margin-top: 15px;
				border-radius: 4px;

				&:focus {
					background: #fff url(/img/search.png) no-repeat 20px center;
				}
			}

			.more-filters {
				margin-left: 10px;

				.btn {
					height: 50px;
					margin-top: 15px;
					color: #555;
					padding: 0 20px;
					border: 1px solid #dededf;
					background: #f8f8f8;

					&:hover {
						background: #fff;
					}
				}
			}
		}

		.person-box{
			padding-top:60px;
			padding-left:0;
			padding-right:0;
		}

		a {
			text-decoration: none;
		}

		.person{
			background-image:url(/img/person.png);
			background-repeat: no-repeat;
			background-size:cover;
			height:245px;
			padding:0px;

			h2{
				color: #fff;
				font-size: 50px;
				text-align: center;
				top: 60px;
				position: relative;
				font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
				text-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
				font-weight: bold;
			}
			h4{
				color: rgba(255,255,255,0.8);
				text-align: center;
				position: relative;
				top: 60px;
				font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
				text-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
			}
		}
		.stats {
			padding-left:0px;
			text-align: center;
			overflow: hidden;
			margin-top: 7px;

			li{
				display: inline-block;
				line-height: 26px;
				text-align:center;
				vertical-align: top;
				padding: 10px 20px;
			}

			span{
				display: inline-block;
			}
		}
		

		.social-icons{
			background: #ffffff;
			border: 1px solid #dededf;
			border-top: none;
			padding: 0 10px;
			color: #999;

			.icon {
				padding-right: 5px;
			}

			.stars{

			}

			.comments{

			}

			.edu{

			}
		}
		
	}

}