.video{
  background: url(/img/tech_bg.jpg);
  background-size: cover; 
  overflow: auto;
  top: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  
  .previous:before {
    position: fixed;
    left: -5px;
    top: 300px;
    color: #ccc;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    border-radius: 4px;
    padding: 0 10px;
    height: 80px;
    width: 80px;
    background: #fff;
    margin: 0;
  }

  .header{
    background: transparent;
  }
  .scrolled{
    display: none;
  }
  .scrolled-up{
    overflow: hidden;
    .scrolled{
      margin-top: 12px;
      .name{
        text-align: center;

        h1{
          margin-bottom: 0;
          font-size: 50px;
          text-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
          font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
        }
      }
      .info{
        h2{
          font-size: 40px;
        }
      }
    }
  }

  .videos-list {
    margin-top: 720px;
    background: rgba(255,255,255,0.92);

    .container {
        padding-top: 100px;
    }
  }

  .info{
    .arrow{
      color: #2aff00;
      margin: 0 10px;
      font-size: 30px;
      line-height: 28px;
      height: 28px;
      overflow: hidden;
      display: inline-block;
      position: relative;
      top: 5px;
      font-weight: 300;
    }
  }

  .name{
    position: absolute;
    text-align: center;
    width: 900px;
    left: 50%;
    margin-left: -450px;
    margin-top: 260px;

    h1 {
      color: #fff;
      font-size: 70px;
      margin-bottom: 20px;
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
      font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: bold;
    }

    p {
      font-style: italic;
      font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 16px;
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
      color: rgba(255,255,255,0.8);
    }
  }

}