<template name='comments'>
  <div class="col-md-6 discussion">
    <div class="row header">
      <div class="col-md-16">
        <h4 class="title">{{chapterTitle}}</h4>
      </div>
    </div>

    <div class="comments-wrapper">
      {{#each comments}}
      <div class="row comment">
        <div class="col-md-4">
          <div class="avatar idle">
            <img src="/img/avatar.jpg" class="img-responsive img-circle" alt="" />
          </div>
        </div>
        <div class="col-md-12 comment-text">
          <p class="name">{{username}}</p>
          <p class="message">{{body}}</p>
        </div>
      </div>
      {{/each}}
    </div>

    <div class="row post-comment">
      <div class="col-md-4 poster-image">
        <img src="/img/con-1.jpg" class="img-responsive" alt="" />
      </div>
      <div class="col-md-12 input">
        <input class="submit" type="submit" />
        <input class="form-control" type="text" placeholder="Entrer un commentaire..." />
      </div>
    </div>
  </div>
</template>