<template name="video">
  <div class="video">
    {{#with video}}
      <div class="clear-fix"></div>
      <div class="container do-scroll-up">
        <div class="row scrolled">
          <div class="col-md-8 name">
            <h1>Andre Bisson</h1>
            <p>Coordonateur des partenariats avec l’industrie a la FDETS</p>
          </div>
          <div class="col-md-8 info">
            <h2>{{title}}</h2>
          </div>
        </div>

        <div class="scrolled-hide">
          <div class="row">
            <a href="{{pathFor 'videosList'}}"><span class='flaticon-previous11 previous'></span></a>
            <div class="  col-lg-10 col-lg-push-6 info">
              <h2>{{title}}</h2>
              <p class="message"><span class="arrow left">&laquo;</span>Un must pour tous les entrepreneurs d’aujourd’hui et de demain<span class="arrow right">&raquo;</span>
              </p>
              <p class="name">Alex Le Moëligou – <span class="job">Président Fondateur TimeCrumbs</span></p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-8 col-lg-push-7 text-center">
              <a href="#" id="scrollup" class="btn green big btn-default">Débuter la conference</a>
            </div>
          </div>

          <div class="row">
            <div class="bottom name">
              <h1>Andre Bisson</h1>
              <p>Coordonateur des partenariats avec l’industrie à la FDETS</p>
            </div>
          </div>
        </div>
      </div>

      <div class="videos-list visible-xs">
        <div class="container">
          {{#each chapters}}
          {{> chapter}}
          {{/each}}
        </div>
      </div>

      {{> videoModal this}}
    {{/with}}
  </div>
</template>